@model model.entity.Usuario
@{
    ViewBag.Title = "Menu Normal";
}

<h2>Menu Normal </h2>

<menu>
    <a class="btn btn-success" href="~/Subasta/Inicio/">Ver Subastas Activas</a>
    <a class="btn btn-success" href="~/Subasta/Subastadas/@Model.IdUsuario">Ver Subastas Vendidas </a>
    <a class="btn btn-success" href="~/Subasta/Compradas/@Model.IdUsuario">Ver Subastas Compradas </a>
</menu>
