@model model.entity.Usuario
@{
    ViewBag.Title = "MenuAdmin";
}

<h2>MenuAdmin </h2>

<menu>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Usuarios</a>
    <a class="btn btn-success" href="~/xx/Inicio/">Actualizar Parámetros del Sistema</a>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Personas</a>
    <a class="btn btn-success" href="~/xx/xx/">Ver </a>
</menu>
 