@model model.entity.Usuario
@{
    ViewBag.Title = "MenuAdmin";
}

<h2>MenuAdmin </h2>

<menu>
    <a class="btn btn-success" href="~/Usuario/Inicio/">Ver Usuarios</a>
    <a class="btn btn-success" href="~/Subasta/Todas/">Ver Todas las Subastas</a>
    <a class="btn btn-success" href="~/Subasta/VariableSistemas/">Variebles del Sistema </a>
</menu>
 